[defaults]
roles_path = roles
inventory = inventory/test.yml
host_key_checking = false
deprecation_warnings = false

[privilege_escalation]
become = true
become_method = sudo

[ssh_connection]
pipelining = true
